<%- include("partials/header") -%>

<section id="title">

  <div class="container-fluid">

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">VictorYu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cta">About Me</a>
          </li>
        </ul>
      </div>
    </nav>



    <!-- Title -->

    <div class="row">

      <div class="col-lg-6">
        <h1 class="big-heading">My life is programming.</h1>
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="/images/VictorYu.png" alt="victoryu-mockup">
      </div>

    </div>

  </div>

</section>

<!-- Features -->

<section id="features">

  <div class="row">
    <div class="feature-box col-lg-4">
      <img class="icon" src="/images/mortarboard.png" alt="victorYu-mockup">
      <h3 class="feature-title">My skills</h3>
      <p>Desingn & Development.</p>
    </div>

    <div class="feature-box col-lg-4">
      <img class="icon" src="/images/student.png" alt="victorYu-mockup">
      <h3 class="feature-title">Progress</h3>
      <p>Every day, every minute I learn programming.</p>
    </div>

    <div class="feature-box col-lg-4">
      <img class="icon" src="/images/notes.png" alt="victorYu-mockup">
      <h3 class="feature-title">Job Guarantee</h3>
      <p>My life is programming. Java script is my world.</p>
    </div>
  </div>

</section>


<!-- Pricing -->

<section id="pricing">

  <h2 class="section-heading">Exemple for how much my work costs.</h2>
  <p>Simple and affordable price plans for my work.</p>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

<div class="pricing-column col-lg-4 col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>1 hour</h3>
    </div>
    <div class="card-body">
      <h2 class="price-text">Free</h2>
      <p>Consultation</p>
      <p>Discussion of conditions</p>
      <p>Discussion of the cost of work</p>
      <button class="btn btn-lg btn-block btn-outline-dark" type="button">Sign Up</button>
    </div>
  </div>
</div>

<div class="pricing-column col-lg-4 col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>1 day</h3>
    </div>
    <div class="card-body">
      <h2 class="price-text">$49</h2>
      <p>Site maintenance</p>
      <p>Writing a little code</p>
      <p>Work faster</p>
      <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
    </div>
  </div>
</div>

<div class="pricing-column col-lg-4 col-md-12">
  <div class="card">
    <div class="card-header">
      <h3>Week</h3>
    </div>
    <div class="card-body">
      <h2 class="price-text">$99</h2>
      <p>Working on a big project</p>
      <p>Quality assurance</p>
      <p>Unlimited project adjustments</p>
      <p>Discounts</p>
      <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button>
    </div>
  </div>
</div>

</div>

</section>


<!-- Call to Action -->

<section id="cta">

  <h3 class="big-heading">I can work!</h3>

</section>


<!-- Footer -->

<footer id="footer">
  <i class="social-icon fab fa-facebook-f"></i>
  <i class="social-icon fab fa-twitter"></i>
  <i class="social-icon fab fa-instagram"></i>
  <p>© Copyright 2022 VictorYu</p>

</footer>

<%- include("partials/footer") -%>
